**/*.pyc
**/__pycache__/*
*.npz
*.pyc
.idea/*
results/*
datasets/*
logs/*
test_board/*
test_log/*
test/*
configs/*
venv/*
prototypes/.ipynb_checkpoints/*
prototypes/.ipynb_checkpoints/*
**/.ipynb_checkpoints
saves/*
config.py
mano/*

