**/*.pyc
**/__pycache__/*
*.npz
*.pyc
.idea/*
results/*
logs/*
test_board/*
test_log/*
test/*
configs/*
venv/*
prototypes/.ipynb_checkpoints/*
prototypes/.ipynb_checkpoints/*
**/.ipynb_checkpoints
saves/*
configs/config_p0.py
mano/*
mano
/mano/
**/*.pt